.tf-single-page {
  &.tf-template-global {
    padding: 100px 0px;
  }
  .tf-tour-single {
    .tf-template-container {
      max-width: 1320px;
      padding: 0px 15px;
      .tf-bottom-booking-bar {
        display: none;
      }
    }
    .tf-container-inner p {
      font-family: var(--tr-ff-body) !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      font-style: normal !important;
      line-height: 1.5 !important;
      color: var(--tr-text-body);
    }
    .tf-container-inner h1,
    .tf-main-wrapper h1,
    .tf-container h1,
    .tf-container-inner h2,
    .tf-main-wrapper h2,
    .tf-container h2,
    .tf-container-inner h3,
    .tf-main-wrapper h3,
    .tf-container h3,
    #tour_room_details_qv h3,
    .tf-container-inner h4,
    .tf-main-wrapper h4,
    #tour_room_details_qv h4,
    .tf-container h4,
    #tf-ask-question h4,
    .tf-container-inner h5,
    .tf-main-wrapper h5,
    .tf-container h5,
    .tf-container-inner h6,
    .tf-main-wrapper h6,
    .tf-container h6 {
      font-family: var(--tr-ff-heading) !important;
      font-weight: 700 !important;
      color: var(--tr-common-black) !important;
      line-height: 1 !important;
    }
    .tf-section-title {
      margin-bottom: 20px;
    }
    .tf-single-head .tf-head-info .tf-head-title h1 {
      margin-bottom: 20px;
    }
    .tf-single-head a {
      color: var(--tr-text-body);
    }
    .tf-trip-info li i,
    .tf-single-head i {
      color: var(--tr-theme-1) !important;
    }
    .tf-head-info .tf-icon i {
      background: var(--tr-grey-1);
      box-shadow: none;
    }
    .tf-head-info .share-tour-content .tf-dropdown-share-content h4 {
      font-size: 16px !important;
      color: var(--tr-text-body) !important;
      font-weight: 500;
    }
    .tf-hero-gallery .tf-gallery-featured {
      margin-bottom: 30px;
    }
    .tf-hero-gallery .tf-gallery-featured .tf-single-review-box .tf-single-rating {
      background-color: rgba(3, 72, 51, 0.65);
      color: var(--tr-common-white);
      border-radius: 5px;
    }
    .tf-hero-gallery .tf-gallery a.tf-gallery-more {
      position: relative;
      overflow: hidden;
    }
    .tf-hero-gallery .tf-gallery a.tf-gallery-more::before {
      background: #0000009c;
      font-size: 16px;
      border-radius: 20px;
    }
    .tf-hero-gallery img {
      border-radius: 20px;
    }
    .tf-hero-gallery .tf-gallery-featured .featured-column {
      background: var(--tr-grey-1);
      border-radius: 5px;
      a {
        color: var(--tr-text-body);
        &:hover {
          background-color: var(--tr-theme-1);
          color: var(--tr-common-white);
        }
      }
    }
    .tf-trip-info {
      background-color: none;
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid var(--tr-border-1);
    }
    .tf-trip-info li {
      font-size: 16px;
      font-family: var(--tr-ff-body);
      color: var(--tr-text-body);
    }
    .tf-trip-info .person-info {
      border: 1px solid var(--tr-border-1);
      box-shadow: none;
      width: max-content;
      height: unset;
      flex-direction: row;
      padding: 10px 15px;
      gap: 12px;
    }
    .tf-trip-info .person-info.active {
      background: var(--tr-grey-1);
    }
    .tf-trip-feature-blocks .tf-feature-block {
      background: none;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      align-items: start;
    }
    .tf-trip-feature-blocks .tf-feature-block i {
      color: var(--tr-theme-1) !important;
      font-size: 30px;
      line-height: 1;
    }
    .tf-highlights-wrapper {
      background: none;
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid var(--tr-border-1);
    }
    .tf-inex-wrapper .tf-inex {
      background: none;
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid var(--tr-border-1);
    }
    #tf-tour-map .tf-map-area #tour-location {
      border-radius: 20px;
    }
    .tf-faq-wrapper .tf-faq-inner .tf-faq-single {
      border-bottom: 0;
      margin-bottom: 20px;
    }
    .tf-faq-wrapper .tf-faq-inner .tf-faq-single:last-child {
      margin-bottom: 0;
    }
    .tf-faq-wrapper .tf-faq-inner .active .tf-faq-single-inner {
      background: none;
      border-radius: 20px;
      margin: 0;
      box-shadow: none;
    }
    .tf-faq-wrapper .tf-faq-inner .tf-faq-single-inner {
      border-radius: 20px;
      overflow: hidden;
    }
    .tf-faq-wrapper .tf-faq-single-inner .tf-faq-collaps {
      padding: 24px;
      background: var(--tr-grey-1);
      box-shadow: none;
    }
    .tf-faq-wrapper .tf-faq-single-inner .tf-faq-content {
      background: var(--tr-grey-1);
    }
    .tf-faq-wrapper .tf-faq-single-inner .tf-faq-collaps .faq-icon i.fa-plus,
    .tf-faq-wrapper .tf-faq-inner .active .tf-faq-single-inner .tf-faq-collaps .faq-icon i.fa-minus {
      color: var(--tr-common-black);
    }
    .tf-review-wrapper .tf-review-form .tf-review-form-container .tf-rating-wrapper .tf-form-single-rating > label {
      font-family: var(--tr-ff-heading);
      font-size: 16px !important;
      font-weight: 500 !important;
      line-height: 1.5 !important;
      color: var(--tr-common-black);
    }
    .tf-review-wrapper .tf-review-form .tf-review-form-container .review-desc textarea {
      padding: 15px 20px;
      border: 1px solid var(--tr-border-1);
      background: var(--tr-grey-1);
      width: 100%;
      border-radius: 20px;
      font-size: 16px;
      color: var(--tr-text-body);
      font-family: var(--tr-ff-body);
    }
    .tf-review-wrapper .tf-review-form .tf-review-form-container .tf-rating-wrapper .tf-form-single-rating .ratings-container label:before {
      color: var(--tr-theme-1);
    }
    .tf-btn-normal,
    .tf-review-wrapper .tf-review-form .tf-review-form-container .tf-review-submit input[type="submit"],
    .tf_button.btn-styled {
      font-family: var(--tr-ff-body);
      font-weight: 500 !important;
      font-size: 18px !important;
      padding: 16px 30px !important;
      border-radius: 999px !important;
      color: var(--tr-common-white) !important;
      border: 1px solid transparent !important;
      background: var(--tr-theme-1) !important;
      &:hover {
        color: var(--tr-common-black) !important;
        background: transparent !important;
        border-color: var(--tr-theme-1) !important;
      }
    }
    .tf-trip-info .tf-trip-pricing .tf-price-amount {
      color: var(--tr-theme-1);
      font-weight: 700;
    }
    .tf-tour-details-right .tf-booking-price p {
      font-size: 30px !important;
      font-weight: 700 !important;
      color: var(--tr-theme-1);
    }
    .tf-tour-details-right .tf-tour-booking-advantages,
    .tf-tour-details-right .tf-tour-booking-box {
      background: var(--tr-grey-1);
      border-radius: 20px;
      box-shadow: none;
    }
    .tf-tour-details-right .tf-tour-booking-advantages li a {
      color: var(--tr-text-body);
    }
    .tf-tour-details-right .tf-tour-booking-advantages li a:hover {
      color: var(--tr-theme-1);
    }
    .tf-tour-details-right .tf-tour-booking-advantages li i {
      height: 50px;
      width: 50px;
      background: var(--tr-common-white);
      border-radius: 50%;
    }
    .tf-ask-enquiry i {
      background-color: var(--tr-common-white);
      border-radius: 50%;
      color: var(--tr-theme-1);
    }
    .tf-ask-enquiry h3 {
      margin-bottom: 15px;
    }
    .tf-booking-form-inner h3 {
      margin-bottom: 16px;
    }
    .tf-tour-details-right .tf-form-title p {
      color: var(--tr-common-black) !important;
      font-size: 24px !important;
      font-weight: 700 !important;
    }
    .tf-field-group.tf_form-inner .tf-field,
    .tf-field-group .tf-field {
      border: none !important;
      padding: 15px 40px !important;
      width: 100% !important;
      border-radius: 5px !important;
      font-size: 16px !important;
      margin: 0px !important;
      color: var(--tr-text-body) !important;
      font-family: var(--tr-ff-body);
      background: var(--tr-common-white) !important;
      -moz-appearance: auto !important;
      height: auto;
      &:focus {
        box-shadow: none;
      }
    }
    .tf_acrselection.tf-field-group .tf-field {
      padding: 15px 20px !important;
    }
    .acr-select input[type="number"] {
      width: 50px !important;
      padding: 0px !important;
      margin: 0px !important;
      border: 0px !important;
      box-shadow: none;
      background: transparent !important;
      text-align: center;
      -moz-appearance: none !important;
      appearance: none !important;
      height: unset;
      line-height: unset;
    }
    .acr-inc,
    .acr-dec {
      background-color: var(--tr-common-white);
      color: var(--tr-theme-1);
      border-color: var(--tr-border-1);
      border: 1px solid var(--tr-border-1);
      font-size: 24px;
      font-weight: 500;
    }
  }
}
