@use '../utils' as *;

/*----------------------------------------*/
/*  22. testimonial css start
/*----------------------------------------*/

.tr-testimonial {
    &-bg {
        padding: 120px 0;
        padding-bottom: 395px;
        border-radius: 40px;
        background-color: var(--tr-common-white)
    }
    &-mlr {
        margin: 0px 60px;
        @media #{$lg,$md,$xs}{
            margin: 0;
        }
    }
    &-quote {
        margin-bottom: 47px;
        display: block;
        & svg {
            color: var(--tr-theme-1);
        }
    }
    &-content {
        & p {
            font-size: 30px;
            margin-right: 30px;
            @media #{$xxl,$xl,$lg,$md,$xs}{
                margin-right: 0;
            }
            @media #{$xl}{
                font-size: 27px;
            }
            @media #{$lg}{
                font-size: 24px;
            }
            @media #{$md}{
                font-size: 28px;
            }
            @media #{$xs}{
                font-size: 24px;
            }
        }
    }
    &-title-box{
        @media #{$xs}{
            margin-bottom: 30px;
        }
    }
    &-author {
        &-wrap {
            padding:20px;
            cursor: pointer;
            border-radius: 20px;
            transition: all .3s;
            background-color: #F2F5EC;
        }
        &-thumb {
            flex: 0 0 auto;
            margin-right: 30px;
            & img {
                border-radius: 50%;
                height: 80px;
                width: 80px;
            }
        }
        &-title {
            font-size: 24px;
            margin-bottom: 12px;
            text-transform: capitalize;
            @media #{$xl}{
                font-size: 22px;
            }
            @media #{$lg}{
                font-size: 17px;
            }
        }
        &-info {
            & span {
                font-size: 20px;
                @media #{$lg}{
                    font-size: 16px;
                }
            }
        }
    }
}
.tr-testimonial-2 {
    &-item {
        margin-top: 51px;
        margin-bottom: 20px;
        padding: 90px 40px 40px 48px;
        border-radius: 20px;
        transition: all .3s;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        & .tr-testimonial-content{
            & p {
                font-size: 20px;
                margin-right: 0;
                @media #{$lg}{
                    font-size: 18px;
                }
            }
        }
        & .tr-testimonial-author-wrap{
            padding: 0;
            border-radius: 0;
            background: none;
        }
        & .tr-testimonial-quote{
            position: absolute;
            top: -51px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: inline-block;
            height:100px;
            width:100px;
            line-height:100px;
            border-radius: 50%;
            text-align: center;
            color: var(--tr-theme-1);
            background-color: #F2F5EC;
        }
        & .tr-testimonial-author-thumb{
            & img {
                border-radius: 20px;
            }
        }
        & .tr-testimonial-author-title {
            font-size: 18px;
        }
        & .tr-testimonial-author-info {
            & span {
                font-size: 20px;
                @media #{$lg,$xs}{
                    font-size: 16px;
                }
            }
        }
    }
    &-active {
        margin: -30px -125px;
        padding: 30px 0;
        @media #{$xl,$xs}{
            margin: 0;
        }
        & .swiper-wrapper {
            & .swiper-slide-active {
                & .tr-testimonial-2-item {
                    transform: translateY(-30px);
                }
            }
        }
    }
}

.tr-slider-nav{
    @media #{$md}{
        margin-bottom: 60px;
    }
    @media #{$xs}{
        margin-bottom: 30px;
    }
    & .slick-center{
        & .tr-testimonial-author-wrap {
            background-color: var(--tr-common-white);
            box-shadow: 0 4px 20px -1px rgba(19, 16, 34, 0.05);
        }
    }
}

.tr-slider-dots {
    position: relative;
    z-index: 2;
    margin-bottom: -10px;
    & .swiper-pagination-bullet {
        width: 100px;
        height: 10px;
        display: inline-block;
        border-radius: 5px;
        background-color: #F2F5EC;
        opacity: 1;
        transition: .3s;
        position: relative;
        @media #{$xs}{
            width: 50px;
        }
    }
    & .swiper-pagination-bullet-active {
        background-color: var(--tr-theme-1);
        &.swiper-pagination-bullet{
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
        
    }
}

.tr-testimonial{
    &-inner-style{
        &.tr-testimonial-bg {
            padding: 120px 0;
            padding-bottom: 190px;
            background-color: var(--tr-grey-1);
        }
    }
}